xsd/piperjobdefinition.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="https://steynpjm.github.io/xsd/piperjobdefinition.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PiperJobDefinition">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Jobs">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Job" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="OutputColumns">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="OutputColumn">
                            <xs:complexType>
                              <xs:attribute name="Name" type="xs:string" use="required" />
                              <xs:attribute name="Value" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Name" type="xs:string" use="required" />
                  <xs:attribute name="Index" type="xs:unsignedInt" use="required" />
                  <xs:attribute name="SequenceStart" type="xs:unsignedLong" use="required" />
                  <xs:attribute name="SequenceEnd" type="xs:unsignedLong" use="required" />
                  <xs:attribute name="OutputFileName" type="xs:string" use="optional" />
                  <xs:attribute name="OutputFileExtension" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
